
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/home_layout.cshtml";
}

@model Jobb.Models.LoginModel

@Html.AntiForgeryToken()
@using (Html.BeginForm())
{
    @Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "LoginformLayout";
    settings.EncodeHtml = false;
    settings.ColCount = 2;
    settings.SettingsAdaptivity.AdaptivityMode = FormLayoutAdaptivityMode.SingleColumnWindowLimit;
    settings.SettingsAdaptivity.SwitchToSingleColumnAtWindowInnerWidth = 800;
    settings.Width = Unit.Percentage(100);
    settings.Items.AddGroupItem(g =>
    {
        g.Caption = " Log In";

        g.Items.Add(m => m.UserName, i =>
        {
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
            TextBoxSettings Set = (TextBoxSettings)i.NestedExtensionSettings;
            Set.Properties.HelpText = "Please, enter your login name";
            Set.Width = Unit.Pixel(200);
        });
        g.Items.Add(m => m.Password, i =>
        {
            i.NestedExtensionType = FormLayoutNestedExtensionItemType.TextBox;
            TextBoxSettings Set = (TextBoxSettings)i.NestedExtensionSettings;
            Set.Properties.HelpText = "Please, enter your Password";
            Set.Properties.Password = true;
            Set.Width = Unit.Pixel(200);
        });
        if (ViewBag.loginError != null)
        {
            g.Items.Add(i =>
            {
                i.Caption = " ";
                i.NestedExtensionType = FormLayoutNestedExtensionItemType.Label;
                LabelSettings Set = (LabelSettings)i.NestedExtensionSettings;
                Set.Text = @ViewBag.loginError;
                Set.ControlStyle.ForeColor = System.Drawing.Color.Red;
            });
        }
        g.Items.Add(i =>
        {
            i.Caption = " ";
            i.NestedExtension().Button(s =>
            {
                s.Name = "ButtonLogOn";
                s.Text = "Log On";
                s.UseSubmitBehavior = true;
                s.Width = Unit.Pixel(100);
            });
        });
    });
    settings.Items.AddGroupItem(g =>
    {
        g.Items.Add(i => i.Caption = " ").SetNestedContent("<span>By  Please enter your username and password. <a href=\"Register\"):;\">Register</a>   if you don't have an account.</span> " + " <div style=\"color:#FF0000;\" > " + Html.Action("meetingPartial") + "</div>");
        g.Items.Add(i => i.Caption = " ").SetNestedContent("<span>โหลด App Android สำหรับ ใช้งานระบบ. <a href=\"https://doc-0c-c0-docs.googleusercontent.com/docs/securesc/vjn0qjfbits7jn34f55645og9radi6ic/3avefb3sdsn3ll58i10859f25hifcq1h/1483696800000/16394989493054014371/16394989493054014371/0B4UjvKv03jd4dGJibGFCakVtTk0?e=download&nonce=c3h9nr32i1dbo&user=16394989493054014371&hash=v2mmuf7aoj10t8u8humlni29amp7jt7m\"):;\">คลิก</a> apps support android 4.1 jelly bean - 7.1.1</span> ");
    });

}).GetHtml()
}